singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'


process {
	containerOptions = '-B /lab,/localscratch'
	executor = 'slurm'
	time = '3h'
	memory = '4 GB'
	cpus = 1
	validExitStatus = [0, 141]
}

//
// set paths for generic files here
//

params {
	results = "results"
	full_vcf = "<path to master vcf.gz>"
	selected_regions = "< path to bed files with regions where SNPs should be tested in Demuxlet. Such as gene introns+exons + bulk ATAC-seq peaks for snATAC data >"
	general_container = "containers/general/general.simg"
	demuxlet_container = "containers/demuxlet/demuxlet1.sif"
}
